body {
  margin: 0;
  padding: 0;
  background-color: #C8D3DA;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#card-box {
  background-color: #143045;
  width: 1400px;
  height:1800px;
  margin: 40px auto;              /* centers the card */
  padding: 30px;                  /* space inside */
  border-radius: 12px;            /* rounded corners */
  box-shadow: 0 4px 15px rgba(0,0,0,0.3); /* shadow for depth */
}


nav {
  background-color: #D5AC4E;
  width: 100%;
  height: 1px;
  top:10px;
  display: flex;
  align-items: center;
  justify-content:center;
  gap:50px;
}



img[id="navlogo"] {
  width: 130px;
  height: 110px;
  margin-left: 0px;
  border-radius: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

ul li {
  border-right: 2px solid #D5AC4E;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 20px;
  position: relative;
  top: -50px;
  left:-0px;
}

ul li a {
  text-decoration: none;
  color: #8B2635;
}

h1{
    color: white;
}

#p1, #p2, #p3{
  width:550px;
  position:relative;
  left:400px;
  margin-top:100px;
  background-color: #C8D3DA;
  border-radius: 5px;
  font-size: 20px;
  color:#D5AC4E;
 
}

#p1, #p2, #p3{
    padding-right:20px;
    padding-left:20px;
    position: relative;
    
}
#p1{
    height:200px;
    padding-top: 1px;
    
}

#p2{
    height:250px;
    padding-top: 3px;
}

#p3{
    height:350px;
    padding-top: 5px;
    
    
}

h4{
    color: #8B2635;
}

a{
    color:#D5AC4E
}

footer{
  background-color: #D5AC4E;
  width:100%;
  height:1px;
  position: relative;
  top:15%;
}

#p-footer{

    width:200px;
    height:25px;
    margin-top:100px;
    border-radius: 50px;
    text-align:center;
    background-color: #8B2635;
}

