body {
  margin: 0;
  padding: 0;
  background-color: #C8D3DA;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#card-box {
  background-color: #143045;
  width: 1400px;
  height:1200px;
  margin: 40px auto;              /* centers the card */
  padding: 30px;                  /* space inside */
  border-radius: 12px;            /* rounded corners */
  box-shadow: 0 4px 15px rgba(0,0,0,0.3); /* shadow for depth */
}


nav {
  background-color: #D5AC4E;
  width: 100%;
  height: 1px;
  top:10px;
  display: flex;
  align-items: center;
}

img[id="navlogo"] {
  width: 90px;
  height: 90px;
  margin-left: 50px;
  border-radius: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

ul li {
  border-right: 1px solid black;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 15px;
  position: relative;
  top: -50px;
  left:100px;
}

ul li a {
  text-decoration: none;
  color: #8B2635;
}

h1{
    color: white;
}

#p1{
    width:500px;
    height:200px;
    background-color: #C8D3DA;
    border-radius: 5px;
    font-size: 20px;
    color:#D5AC4E
}

#p2{
    width:500px;
    height:250px;
    background-color: #C8D3DA;
    border-radius: 5px;
    font-size: 20px;
    color:#D5AC4E
}

#p3{
    width:500px;
    height:350px;
    background-color: #C8D3DA;
    border-radius: 5px;
    font-size: 20px;
    color:#D5AC4E
}

h4{
    color: #8B2635;
}

a{
    color:#D5AC4E
}

#p-footer{
    width:200px;
    height:25px;
    border-radius: 50px;
    text-align:center;
    background-color: #8B2635;
}

